.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16rem;
  margin-top: 2rem;
  z-index: -2;

  .card {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 2px 2px 20px #eee;
    }

    &:hover .card-img {
      transform: scale(1.05);
    }

    .favorite {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: -5px;
      margin-bottom: 5px;

      button.heart-container {
        background-color: transparent;
        border: none;
      }

      .favorite-icon {
        font-size: 20px;
        color: rgb(212, 5, 5);
        transition: all 0.15s ease-in;
        &:hover {
          color: red;
        }
      }
    }

    .card-img {
      width: 13rem;
      margin-bottom: 1rem;
      height: 130px;
      object-fit: contain;
      transition: all 0.2s ease-in-out;
    }

    .card-title {
      margin-bottom: 1rem;
    }

    .card-reviews {
      margin-bottom: 1rem;
      display: flex;
      .product-rating {
        display: flex;
        p {
          width: 20px;
          margin: 0 5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .rating-star {
      color: #d5ab55;
    }

    .total-reviews {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      margin-left: 10px;
    }

    .card-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .cart-button {
      background-color: transparent;
      border: none;
      transition: all 0.2s ease-in-out;

      &:hover .cart-icon {
        color: #cd9042;
      }
      .cart-icon {
        color: #535353;
        font-size: 22px;
      }
    }
  }
}
